{% extends 'base.html' %}

{% block content %}
  <style>
    .card-list {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      width: 200px; /* Adjust the width as needed */
      margin: 10px;
    }

    .card-img {
      width: 100%;
      height: auto;
    }
  </style>

  <h2>Image List</h2>

  <div class="card-list">
    {% for image in images %}
      <div class="card">
        <img src="{{ image.image_file.url }}" alt="{{ image.title }}" class="card-img">
        <div class="card-body">
          <h5 class="card-title">{{ image.title }}</h5>
          <p class="card-text">{{ image.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
